// Specific CSS for your home-page
.banner{
  width: 819px;
  height: 550px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  padding: 10px;
  .label-input{
    display: flex;
    flex-direction: column;

  }
  .home-submit{
    background-color: #6B63FF;
    color:white;
    margin-top:10px;
    padding: 5px;
    border: none;
  }
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 2px solid #ccc;
  border-radius: 5px;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: #f2f2f2;
}
}
