<div class="banner" style="background-image:url('https://images.unsplash.com/photo-1602947572401-fc347b48f3da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fG1vdG9zfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60')">
  <div class="container py-5" >
    <h3>Vous Cherchez une moto?</h3>
    <h3>Vous etes au bon endroit</h3>
    <br>
    <br>
    <form action="<%=motos_path%>" method="get">
      <div class="input-group">
        <input type="text" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="q"/>
        <button type="button" class="btn btn-outline-primary">search</button>
      </div>
    </form>
  </div>
</div>
