<h1>Reservations#show</h1>
<p>Find me in app/views/reservations/show.html.erb</p>
<div class="conducteur">
  <h3>Details conducteur</h3>
  <form action="" id="inputs">
    <label for="">First name</label>
    <input type="text" name="" id="">
    <label for="">Last name</label>
    <input type="text" name="" id="">
    <label for="">Date of birth</label>
    <input type="date" name="" id="">
    <label for="">Email</label>
    <input type="email" name="" id="">
    <label for="">Phone number</label>
    <input type="tel">
    <br>
    <input type="submit" value="Submit" class ="submit">
  </form>
</div>
