
<div class="conducteur">
  <h3>Informations concernant le conducteur</h3>
  <form action="" id="inputs">
    <label for="">First name</label>
    <input type="text" name="" id="">
    <label for="">Last name</label>
    <input type="text" name="" id="">
    <label for="">Date of birth</label>
    <input type="date" name="" id="">
    <label for="">Email</label>
    <input type="email" name="" id="">
    <label for="">Phone number</label>
    <input type="tel">
    <br>
    <input type="submit" value="Confirmer la reservation" class ="submit">
  </form>
</div>
