.first-div{
  border: 1px solid rgb(178, 176, 176);
  border-radius: 15px;
  margin: 50px;
  display: flex;
  justify-content: space-between;
  img{
    height: 90px;
    width: 90px;
  }
  .second-div{
    width: 40%;
    padding: 30px;
    .img-moto{
      background-color: white;
      padding: 10px;
    }
    .style{
      background-color: white;
      padding: 10px;
      border-bottom: solid 1px rgb(178, 176, 176);
    }
  }
  .third-div{
    width: 40%;
    padding-top: 80px;
    padding-right: 30px;
    .space{
      display: flex;
      justify-content: space-between;
    }
    .links{
      display: flex;
      .btn-link{
      border:solid 1px rgb(178, 176, 176) ;
      border-radius: 5px;
      text-decoration: none;
      color: black;
      padding: 5px 7px;
      margin: 5px;

    }
    }
  }

}
.conducteur{
  border: 1px solid rgb(178, 176, 176);
  border-radius: 15px;
  margin: 50px;
  padding: 30px;
  #inputs{
    display: flex;
    flex-direction: column;
    width: 40%;
    input{
      padding: 7px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
