.first-div{
  border: 1px solid rgb(178, 176, 176);
  border-radius: 15px;
  margin: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .moto-img {
    height: 90px;
    width: 90px;
    border-radius: 10px;
  }
  .second-div{
    width: 40%;
    padding: 30px;
    .img-moto{
      background-color: rgb(242, 241, 241);
      padding: 10px;
      border-radius: 10px;
    }
    .style{
      background-color: rgb(242, 241, 241);
      padding: 10px;
      border-bottom: solid 1px rgb(178, 176, 176);
      border-radius: 10px;
    }
  }
  .third-div{
    width: 40%;
    padding-top: 80px;
    padding-right: 30px;
    .space{
      display: flex;
      justify-content: space-between;
    }
    .links{
      display: flex;
      justify-content: space-between;
      .btn-link{
      border:solid 1px rgb(178, 176, 176) ;
      border-radius: 5px;
      text-decoration: none;
      color: white;
      padding: 5px 7px;
      margin: 5px;
      background-color: #6b63ff;

      }
      .icone{
        font-size: 30px;
        cursor: pointer;
        color: #6b63ff;
      }
    }
    .btn-edit{
      border: #6b63ff 1px solid;
      color:#6b63ff;
      background-color: white;
      border-radius: 4px;
      padding: 5px 7px;
      margin: 5px;
      &:hover{
        background-color: #6b63ff;
        color: white;
      }
    }
  }

}
.big-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .div-reservation{
    border: 1px solid rgb(178, 176, 176);
    border-radius: 15px;
    width: 400px;
    height: 300px;
    margin: 50px;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    .start-input{
      display: flex;
      flex-direction: column;
      padding: 7px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .end-input{
      display: flex;
      flex-direction: column;
      padding: 7px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .submit{
      padding: 7px;
      margin-top: 10px;
      margin-bottom: 10px;
      .home-submit{
        background-color: white;
        border:#6b63ff 1px solid;
        color:#6b63ff;
        border-radius: 4px;
        padding: 6px;
        &:hover{
        background-color: #6b63ff;
        border:none;
        color:white;

        }
      }
    }
  }

}
.avail-btn{
  margin: 0 50px;
  background-color: white;
  border: #6b63ff 1px solid;
  color:#6b63ff ;
  border-radius: 5px;
  &:hover{
    background-color: #6b63ff;
    color: white;
  }
}

// we need to check this css
.conducteur{
  border: 1px solid rgb(178, 176, 176);
  border-radius: 15px;
  margin: 50px;
  padding: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  #inputs{
    display: flex;
    flex-direction: column;
    width: 40%;
    input{
      padding: 7px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .submit{
    background-color: white;
    border:#6b63ff 1px solid;
    color:#6b63ff;
    &:hover{
    background-color: #6b63ff;
    border:none;
    color:white;
  }
  }

}
